.App {
    /* background-color: white; */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
