.App {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', Courier, monospace;    
}
